body{
    background-color: rgb(115, 255, 139);
    color: black;
    margin: auto;
}


h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing;
    animation-duration: 3s;
    animation-delay: 1s;
    position:sticky;
    animation-play-state: running;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
    font-size: 45px;
    font-style: italic;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control{
    text-align: left;
    margin-bottom: 25px;

}

.form-control label {
    display: block;
    margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
     border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}